{% extends "base.html" %}
{% block title %}Technology stack{% endblock %}
{% block content %}
<div class="row">
  <h1>Technology stack</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.7
      </li>
      <li class="list-group-item">
        Django 2.2.16
      </li>
      <li class="list-group-item">
        SQLite3
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        CSS
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>The project is intended for publishing posts with pictures.
       The author of publications can subscribe to other authors and leave comments to their posts.
       The project is divided into groups (interests).
    </p>
  </article>
</div>
{% endblock %}