{% extends 'base.html' %}
{% block title %}
   User's profile {{ profile }} 
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="mb-5">    
      <h1>All publications of the user: {{ profile }}</h1>
      <h3>Всего постов: {{ profile.posts.count }} </h3>
      <ul>
        <li>Following: {{ profile.following.count }}</li>
        <li>Followers: {{ profile.follower.count }}</li>
      </ul>
      {% ifequal profile user %}
        <p>You can not subscribe to yourself</p>
      {% else %}
        {% if user.is_authenticated %}
        {% if following %}
          <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' profile.username %}" role="button"
          >
            Unfollow
          </a>
       {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' profile.username %}" role="button"
          >
            Follow
          </a>
        {% endif %}
        {% endif %}
      {% endifequal %}  
    </div>
    {% for post in page_obj %}
      {% include 'posts/includes/post_card.html' %}
    {% endfor %}  
    {% include 'posts/includes/paginator.html' %}      
  </div>  
{% endblock %}
