{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
  <div class="container py-5"> 
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            To reset your old password, enter the email address you registered with
          </div>
          <div class="card-body"> 
            {% load user_filters %}
            {% include 'includes/form_errors.html' %}
            <form method="post">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Reset password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}